<mat-card>
<div>  
  <div style="font: bold;" style="float:left">
    <h5>{{estacionamento.nome}}</h5>
  </div>

  <div class="header">
    
    <button type="button" style="background-color:transparent;border: 0ch;" routerLink="">
      <mat-icon>home</mat-icon>
    </button>
    
    <button type="button" style="background-color:transparent;border: 0ch;" (click)="editaEstacionamento(estacionamento.codigo)">
      <mat-icon>edit</mat-icon>
    </button>
    
    <button type="button" style="background-color:transparent;border: 0ch;" (click)="deletaEstacionamento(estacionamento.codigo)">
      <mat-icon>delete</mat-icon>
    </button>
    
  </div>
  
</div>

<hr>

<div>
    <mat-form-field class="input-cep"> 
      <input matInput placeholder="CNPJ" [(ngModel)]="estacionamento.cnpj" name="cnpj" value="estacionamento.cnpj" disabled>
    </mat-form-field>

    <mat-form-field class="input-date"> 
        <input matInput placeholder="Data criação" [(ngModel)]="estacionamento.dataCriacao" name="dataCriacao" value="estacionamento.dataCriacao" disabled>
    </mat-form-field>
</div>

</mat-card>