<md-card>
  <md-card-title>Login</md-card-title>
  <md-card-content class="login-input">
    <md-input-container class="login-input">
      <input mdInput placeholder="Informe o login" >
    </md-input-container>
    <md-input-container class="login-input">
      <input mdInput placeholder="Informe a senha" type="password">
    </md-input-container>
  </md-card-content>
  <md-card-actions class="login-button">
    <button md-raised-button color="primary">Logar</button>
  </md-card-actions>
</md-card>