<div class="loginDialog">
	<img src="assets/imagens/login.png" alt="Login" height="10%" width="20%">
	<mat-form-field class="input"> <input matInput
		placeholder="Email" value="" type="text" #email required> </mat-form-field>
	<mat-form-field class="input"> <input matInput
		placeholder="Senha" value="" type="password" #senha required>
	</mat-form-field>
	<br> <br>
	<button mat-raised-button  [disabled]="Bntconfirma" (click)='entrar(email.value, senha.value)'>Entrar</button>
	<button mat-raised-button (click)='cancelar()'>Cancelar</button>
</div>
