<md-card class="card-register-user">

  <md-input-container class="input-name">
    <input mdInput placeholder="Nome completo">
  </md-input-container>
  
  <br>
  
  <md-input-container class="input-date-birth">
    <input mdInput [mdDatepicker]="datePicker" placeholder="Data de nascimento" />
    <button mdSuffix [mdDatepickerToggle]="datePicker"></button>
    <md-datepicker #datePicker></md-datepicker>
  </md-input-container>
  
  <br>
  
  <md-select placeholder="Sexo">
    <md-option *ngFor="let sex of sex" [value]="sex.value">
      {{ sex.name }}
    </md-option>
  </md-select>

  <md-input-container class="input-cep">
    <input mdInput placeholder="CEP">
  </md-input-container>

  <md-input-container class="input-street">
    <input mdInput placeholder="Rua">
  </md-input-container>

  <md-input-container class="input-number">
    <input mdInput placeholder="Nº">
  </md-input-container>

  <md-select placeholder="Estado">
    <md-option *ngFor="let state of state" [value]="state.value">
      {{ state.name }}
    </md-option>
  </md-select>

  <md-input-container class="input-uf">
    <input mdInput placeholder="UF">
  </md-input-container>

  <md-select placeholder="Bairro">
    <md-option *ngFor="let bairro of bairro" [value]="bairro.value">
      {{ bairro.name }}
    </md-option>
  </md-select>
  
  <md-select placeholder="Cidade">
    <md-option *ngFor="let city of city" [value]="city.value">
      {{ city.name }}
    </md-option>
  </md-select>

  <md-input-container class="input-phone">
    <input mdInput placeholder="Telefone">
  </md-input-container>

  <md-input-container class="input-email">
    <input mdInput placeholder="E-mail">
  </md-input-container>

  <md-input-container class="input-confEmail">
    <input mdInput placeholder="Confirmar E-mail">
  </md-input-container>

  <md-input-container class="input-password">
    <input mdInput placeholder="Senha">
  </md-input-container>

  <md-input-container class="input-confPassword">
    <input mdInput placeholder="Confirmar senha">
  </md-input-container>
  
</md-card>
