<app-header></app-header>
<br>
<mat-card class="card-inf">  
    
    <div class="title">
        <h5>Informações do estacionamento</h5>
    </div>

    <hr><br>

    <div>
        <div style="text-align: center;">
            <img src="https://videotutoriales.com/maspa/maspa1.jpg" alt="Imagens" />   
        </div>
        
        <hr style="width: 70%;">
        
        <div class="description-title">
            <h3>Estacionamento beira rio</h3>
        </div>
        
        <div class="description">
            <h5>Rua beira rio nº 55, Blumenau/SC, 89066-444.</h5>
        </div>
    </div>
         
</mat-card>