.card-register-user {
	width: 55%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
}

.input-date-birth {
	float: left;
	margin-left: 12%;
}

.title {
	text-align: left;
	font: bold;
}

.input-name {
	width: 75%
}

.input-street {
	margin-left: 12%;
	width: 40%;
	float: left;
}

.input-number {
	width: 200px;
	margin-left: 15px;
}

.input-uf {
	width: 5%;
}

.input-email {
	width: 75%;
}

.input-cep {
	margin-left: 20px;
}

.input-confEmail {
	width: 75%;
}

.input-password {
	width: 75%;
}

.input-confPassword {
	width: 75%;
}

.select-cidade {
	width: 75%;
}

.select-estado {
	width: 75%;
}

.select-bairro {
	width: 45%;
	float: left;
	margin-left: 12%;
}

.input-phone {
	width: 230px;
	margin-left: 15px;
}

.buttons{
	text-align: right;
}

.image {
	align-items: center;
	display: flex;
	flex-direction: row; flex-wrap : wrap;
	justify-content: center;
	flex-wrap: wrap;
}