<app-header></app-header>
<br>
<mat-card class="card-register-user">
<div class="title">
	<h5>Cadastro de usuário</h5>
</div>
<hr>
<form>

	<app-upload-image [imageSrc]="imagem" [height]="'180px'"
		[widht]="'160px'" (returnImage)="setImage($event)" class="image"></app-upload-image>

	<br>
	<div style="text-align: center;">
		<mat-form-field class="input-name"> <input
			type="text" [(ngModel)]="usuario.nome" name="nome" require matInput
			[readonly]="isReadOnly" placeholder="Nome completo"> </mat-form-field>
	</div>

	<div>
		<div class="input-date-birth">
			<mat-form-field> <mat-select placeholder="Sexo"
				ng-disabled="isReadOnly" [(ngModel)]="usuario.sexo" name="sexo">
			<mat-option *ngFor="let sex of sex" require [value]="sex.name">
			{{ sex.name }} </mat-option> </mat-select> </mat-form-field>
		</div>

		<div>
			<mat-form-field class="input-cep"> <input
				[textMask]="{mask: cepMask}" [readonly]="isReadOnly"
				[(ngModel)]="usuario.localidade.cep" require name="cep" matInput
				placeholder="CEP"> </mat-form-field>
		</div>
	</div>

	<div>
		<mat-form-field class="input-street"> <input
			[readonly]="isReadOnly" [(ngModel)]="usuario.localidade.endereco"
			require name="endereco" matInput placeholder="Rua"> </mat-form-field>

		<mat-form-field class="input-number"> <input
			type="number" [(ngModel)]="usuario.localidade.numero" name="numero"
			matInput placeholder="Nº"> </mat-form-field>
	</div>

	<div style="text-align: center;">
		<mat-form-field class="select-estado"> <input
			ng-disabled="isReadOnly" placeholder="Estado" matInput
			[(ngModel)]="usuario.localidade.estado" require name="estado">
		</mat-form-field>
	</div>

	<div style="text-align: center;">
		<mat-form-field class="select-cidade"> <mat-select
			ng-disabled="isReadOnly" require
			[(ngModel)]="usuario.localidade.cidade.codigo" name="cidadeAux"
			placeholder="Cidade"> <mat-option
			*ngFor="let cidadeAux of cidades" [value]="cidadeAux.codigo"
			(click)="carregaBairro(usuario.localidade.cidade.codigo)">
		{{ cidadeAux.descricao }} </mat-option> </mat-select> </mat-form-field>
	</div>

	<div>
		<mat-form-field class="select-bairro"> <mat-select
			ng-disabled="isReadOnly" placeholder="Bairro"
			[(ngModel)]="usuario.localidade.bairro.codigo" require
			name="bairroAux"> <mat-option
			*ngFor="let bairroAux of bairros" [value]="bairroAux.codigo">
		{{ bairroAux.descricao }} </mat-option> </mat-select> </mat-form-field>

		<mat-form-field class="input-phone"> <input require
			[readonly]="isReadOnly" [(ngModel)]="usuario.telefone"
			name="telefone" [textMask]="{mask: telMask}" matInput
			placeholder="Telefone" ng-model="number" ui-number-mask="3">
		</mat-form-field>
	</div>

	<div style="text-align: center;">
		<mat-form-field class="input-email"> <input matInput
			[readonly]="isReadOnly" [(ngModel)]="usuario.email" name="email"
			placeholder="E-mail" [formControl]="email" required> <mat-error
			*ngIf="email.invalid">{{getErrorMessage()}}</mat-error> </mat-form-field>
	</div>

	<div style="text-align: center;">
		<mat-form-field class="input-confEmail"> <input
			[(ngModel)]="confiEmail" name="confiEmail" [readonly]="isReadOnly"
			matInput placeholder="Confirmar email" [formControl]="confEmail"
			required> <mat-error *ngIf="confEmail.invalid">{{getErrorMessageConf()}}</mat-error>
		</mat-form-field>
	</div>

	<div style="text-align: center;">
		<mat-form-field class="input-password"> <input
			[readonly]="isReadOnly" matInput [(ngModel)]="usuario.senha"
			name="senha" maxlength="20" placeholder="Senha"
			[type]="hide ? 'password' : 'text'"> <mat-icon matSuffix
			(click)="hide = !hide">{{hide ? 'visibility' :
		'visibility_off'}}</mat-icon> </mat-form-field>
	</div>

	<div style="text-align: center;">
		<mat-form-field class="input-confPassword"> <input
			[(ngModel)]="confiSenha" name="confiSenha" [readonly]="isReadOnly"
			matInput maxlength="20" placeholder="Confirmar senha"
			[type]="hide2 ? 'password' : 'text'"> <mat-icon matSuffix
			(click)="hide2 = !hide2">{{hide2 ? 'visibility' :
		'visibility_off'}}</mat-icon> </mat-form-field>
	</div>

	<br>

	<div class="buttons">
		<mat-button-toggle (click)="submit()" *ngIf="isBtSaveCanVisible">Salvar</mat-button-toggle>
		<mat-button-toggle (click)="editarCadastr()"
			*ngIf="isBtEditExclVisible">Editar</mat-button-toggle>
		<mat-button-toggle (click)="deletarCadastro()"
			*ngIf="isBtEditExclVisible">Deletar</mat-button-toggle>
		<mat-button-toggle (click)="cancelar()" *ngIf="isBtSaveCanVisible">cancelar</mat-button-toggle>
	</div>
</form>
</mat-card>
<br>
<app-footer></app-footer>