<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="row">
			<div class="col-3">
				<a class="navbar-brand" href="#">Estacione já</a>
			</div>

			<div class=" col-6">
				<div class="row">
					<div class="col-8">
						<div class="row">
							<div class="col-10">
								<input #nomeDigitado type="text" class="search-input"
									placeholder="Estacionamento, Rua, Bairro ou Cidade">
							</div>
							<div class="col-2" style="margin-top: 0.5%;">
								<div class="buttonPesquisa">
									<button type="submit" class="buttonsearch"
										(click)="pesquisaEstacionamento(nomeDigitado.value)">
										<mat-icon>search</mat-icon>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="col-4"></div>
				</div>
			</div>

			<div class="col-3">
				<div class="btn-group" dropdown style="margin-left: 80%">
					<button dropdownToggle type="button" class="btn dropdown-toggle">
						<mat-icon>person</mat-icon>
						<span class="caret"></span>
					</button>
					<ul *dropdownMenu class="dropdown-menu dropdown-menu-right"
						role="menu">
						<div *ngIf="!isLogado">
							<li role="menuitem"><a class="dropdown-item"
								(click)="chamaLogin()">Entrar</a></li>
							<li class="divider dropdown-divider"></li>
							<li role="menuitem"><a class="dropdown-item"
								routerLink="/new_user">Cadastrar</a></li>
						</div>

						<div *ngIf="isLogado">
							<li role="menuitem"><a class="dropdown-item" href="/edit">Editar
									cadastro</a></li>
							<li class="divider dropdown-divider"></li>
							<li role="menuitem"><a class="dropdown-item"
								href="/new_parking">Cadastrar estacionamento</a></li>
							<li class="divider dropdown-divider"></li>
							<li role="menuitem"><a class="dropdown-item"
								href="/my_parking">Meus estacionamento</a></li>
							<li class="divider dropdown-divider"></li>
							<li role="menuitem"><a class="dropdown-item"
								(click)="logoff()">Sair</a></li>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>