.container {
	width: 100%;	
}

.menu-right {
    flex: 1 1 auto;
}

.search-center {
    flex: 1 auto;
}
.buttonPesquisa {
	height: 50px;
	width: 96%;
	margin-left: 0px; 
}
.search-input {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    margin-top: 1%;
    float: left;
}
.buttonsearch {
    height: 40px;
    width: 63px;
    border-radius: 5px;
    margin-top: 1%;
}

.btn-menu {
    height: 34px;
    
}
.navbar-header {
	float: left;
}
.navbarsearch {
	width: 45%;
	margin-left: 15%;
	text-align: center;
	position: relative;
	float: left;
}
.navbar-brand {
	font-size: 30px;
}
.menuUser {
	float: right;
	margin-top: 0.2%;
}