.card-register-user{
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
.input-date-birth{
    word-break: break-all;
}
.title{
    text-align: left;
    font: bold;
}
.input-razao {
    width: 75%;
}

.input-cnpj {
    width: 45%;
}

.input-cep {
    width: 29%;
}

.input-street{
    width: 59%;
}
.input-number{
    width: 15%;
}

.select-cidade{
    width: 31%;
}
.select-estado{
    width: 10%;    
}
.select-bairro{
    width: 32%;    
}

.image {
	align-items: center;
	display: flex;
	flex-direction: row; flex-wrap : wrap;
	justify-content: center;
	flex-wrap: wrap;
}

.buttons {
    text-align: right;
}
