.card-register-user{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
.input-date-birth{
    word-break: break-all;
}
.title{
    text-align: center;
}
.input-razao {
    width: 60%
}

.input-cnpj {
    width: 25%;
}

.input-cep {
    width: 15%;
}

.input-street{
    width: 50%;
}
.input-number{
    width: 10%;
}

.input-uf{
    width: 5%;
}

.select-cidade{
    width: 35%;
}
.select-estado{
    width: 50%;    
}
.select-bairro{
    width: 35%;    
}

.button-save {
    text-align: right;
}
